* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:active {
    text-decoration: none;
    color: black;
}

input:active {
    outline: none;
}

.navbar {
    background-color: #00af54;
    width: 100vw;
    height: 76px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 6.8vw 0 13.5vw;
}

.navbar .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-rs {
    width: 252px;
}

.navbar ul li {
    list-style: none;
}

.nav-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav .badge-phone-number {
    background-color: white;
    width: 191px;
    height: 100%;
    text-align: center;
    padding: 29px 18px;
    font-family: 'Montserrat-Black';
    color: #00af54;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-sm {
    color: white;
    font-family: 'Montserrat-Black';
    font-size: 16px;
    cursor: pointer;
}

.btn-sm {
    color: #00af54;
    text-transform: uppercase;
    font-family: 'Montserrat-Black';
    font-size: 16px;
    background-color: white;
    padding: 10px 27px;
    border-radius: 2vw;
    margin: 0 0 0 27px;
    cursor: pointer;
}

#intro .content {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.1vw 1.6vw 0 13.5vw;
}

#intro .content .tittle {
    font-size: 2.6vw;
    font-family: 'Montserrat-Bold';
    color: #00af54;
    margin: 3.9vw 0 2.9vw;
}

#intro .container {
    width: 57%;
}

#intro .content .video {
    width: 100%;
    height: 24.2vw;
}

#intro .content .h1 {
    font-size: 2.1vw;
    font-family: 'Montserrat-Bold';
    color: #00af54;
    margin: 3vw 0 1.6vw;
}

#intro .logo-google {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 6vw;
}

#intro .logo-google img {
    width: 6vw;
}

#intro .face img {
    width: 8vw;
}

#intro .twit img {
    width: 4.7vw;
}

#intro .p {
    font-size: 1.25vw;
    color: black;
    font-family: 'Montserrat-Medium';
    line-height: 1.5;
    margin: 0 0 2vw;
}

#intro .p strong {
    font-family: 'Montserrat-Bold';
}

#intro .face {
    width: 8vw;
}

#intro .twit {
    width: 4.7vw;
}

#intro .content .tel {
    background-color: #00af54;
    padding: 1.1vw 0.9vw;
    color: white;
    font-size: 1.5vw;
    font-family: 'Montserrat-Black';
    text-align: center;
}

#intro .join-now {
    width: 40%;
    border: 3px solid #00af54;
    padding: 3% 6.4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#intro .input-group,
.start-form {
    width: 100%;
}

#intro .join-now h1 {
    font-size: 1.9vw;
    font-family: 'Montserrat-Black';
    color: #00af54;
    text-align: center;
}

#intro .join-now p {
    font-size: 0.94vw;
    font-family: 'Montserrat-Medium';
    color: black;
    text-align: center;
    margin: 2.8vw 0;
}

#intro .join-now .control-form {
    width: 100%;
    border: 2px solid #00af54;
    border-radius: 2vw;
    font-family: 'Montserrat-SemiBold';
    font-size: 0.84vw;
    padding: 0.73vw 0 0.73vw 4.4vw;
    margin: 0 0 2.7vw;
    background-color: #f1f2f2;
}

#intro .join-now .control-form::placeholder {
    color: #acacac;
}

#firm1 {
    background-image: url(img/Name-of-Law-Firm.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#firstname,
#surname {
    background-image: url(img/firstName-of-Law-Firm.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#email {
    background-image: url(img/email-of-Law-Firm.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#phonenumber {
    background-image: url(img/phone-of-Law-Firm.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro .btn-md {
    color: white;
    background-color: #00af54;
    width: 100%;
    text-align: center;
    padding: 0.8vw 0;
    text-transform: uppercase;
    font-size: 0.84vw;
    font-family: 'Montserrat-ExtraBold';
    border-radius: 2vw;
    border: none;
    outline: none;
    margin: 0 0 2.2vw;

}

#intro .download-brochure {
    background-image: url(img/pdf.png);
    background-position: 10%;
    background-size: 19%;
    background-repeat: no-repeat;
    width: 13.7vw;
    padding: 1.2vw 1.2vw;
    text-align: right;
    background-color: #00af54;
    color: white;
    font-family: 'Montserrat-ExtraBold';
    font-size: 0.94vw;
}

#intro .download-brochure strong {
    font-size: 1vw;
    text-transform: uppercase;
}

#intro .text-wrapper {
    padding: 0 0 2.6vw;
}

#case {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2.9vw 2.6vw 2.9vw 13.5vw;
    background-color: #f6f6f6;

}

#case p {
    font-size: 1.25vw;
    font-family: 'Montserrat-Medium';
}

#case h1 {
    font-size: 1.88vw;
    font-family: 'Montserrat-Black';
    color: #00af54;
    text-transform: uppercase;
    margin: 0 0 3.23vw;
}

/*slider*/

.slider {
    width: 100%;
    margin: 3vw auto 0;
}

.slick-slide {
    margin: 0px 2.9vw 0 0;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 0;
}

.slick-active {
    opacity: .8;
}

.slick-current {
    opacity: 1;
}

.slider .logoFirm {
    max-width: 78%;
    margin: 30px 0 20px;
}

.slider .logoFirm1 {
    max-width: 40%;
}

.slider .logoFirm2 {
    max-width: 28%;
}

#case .slider p {
    font-size: 0.9vw;
    font-family: 'Montserrat-Black';
    color: #00af54;
    text-align: left;
    line-height: 1.3;
}

#case .slider a {
    color: #3d3d3d;
    font-size: 0.9vw;
    text-decoration: underline;
    font-family: 'Montserrat-Black';
}

@media all and (max-width:1024px) {
    .navbar {
        background-color: #00af54;
        padding: 0 5.8vw 0 7.5vw;
    }

    #intro .content {
        padding: 1.1vw 1.6vw 0 7.5vw;
    }

    #case {
        padding: 2.9vw 2.6vw 2.9vw 7.5vw;
    }

    #intro .face {
        width: 6vw;
    }

    .slick-prev {
        left: -34px;
    }

    .slick-next {
        right: -4px;
    }
}

@media all and (max-width:768px) {
    .logo-rs {
        width: 180px;
    }

    .logo-rs img {
        width: 31vw;
    }

    #intro .content {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.1vw 0 0;
    }

    #intro .container {
        width: 76%;
    }

    #intro .content .tittle {
        font-size: 3.6vw;
        margin: 3.9vw 0 2.9vw;
    }

    #intro .content .h1 {
        font-size: 3.1vw;
        margin: 4vw 0 3.6vw;
    }

    #intro .p {
        font-size: 2.25vw;
        line-height: 1.5;
        margin: 0 0 2vw;
    }

    #intro .logo-google img,
    #intro .logo-google {
        width: 9vw;
    }

    #intro .face img,
    #intro .face {
        width: 14vw;
    }

    #intro .twit img,
    #intro .twit {
        width: 8.7vw;
    }

    #intro .content .video {
        width: 100%;
        height: 38.2vw;
    }

    #intro .content .tel {
        padding: 2.1vw 1.9vw;
        font-size: 2.5vw;
    }

    #intro .join-now {
        width: 76%;
        padding: 6% 9.4%;
        margin-top: 5vw;
    }

    #intro .join-now h1 {
        font-size: 3.9vw;
    }

    #intro .join-now p {
        font-size: 2vw;
    }

    #intro .join-now .control-form {
        border-radius: 6vw;
        font-size: 2vw;
        padding: 2.73vw 0 2.73vw 11.4vw;
        margin: 0 0 4.7vw;
        background-size: contain;
    }

    #firm1 {
        background-size: contain;
    }

    #intro .btn-md {
        width: 100%;
        padding: 2.8vw 0;
        font-size: 2vw;
        border-radius: 5vw;
        margin: 0 0 4.2vw;
    }

    #intro .download-brochure strong {
        font-size: 2vw;
    }

    #intro .download-brochure {
        width: 30.7vw;
        padding: 4.2vw 3.4vw;
        font-size: 2vw;
    }

    #case h1 {
        font-size: 3.88vw;
        margin: 0 0 5.23vw;
    }

    #case p {
        font-size: 2.25vw;
    }

    #case .text-wrapper p br {
        display: none
    }

    #case {
        padding: 8.9vw 4.6vw 2.9vw 11.5vw;
    }

    .slider {
        width: 77%;
        margin: 8vw auto 0;
    }

    .slick-next {
        right: -19px;
    }

    #case .slider p {
        font-size: 2.9vw;
    }

    #case .slider a {
        font-size: 2.4vw;
    }

    .navbar-nav .badge-phone-number {
        background-color: white;
        width: auto;
        padding: 23px 11px;
        font-size: 2.4vw;
    }

    .link-sm {
        font-size: 2.4vw;
    }

    .btn-sm {
        font-size: 2.4vw;
        padding: 6px 10px;
        border-radius: 2vw;
        margin: 0 0 0 19px;
    }

    .navbar {
        padding: 0 1.8vw 0 2.5vw;
        height: 55px;
    }

}
